@import "./../_Common/variables.scss";
@import "./../_Common/mixins.scss";

.large_product_card {
    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    padding: $large-padding;
    @include card-box-shadow;

    @media screen and (max-width: $extra-large-width) {
        flex-direction: column; 
    } 
    @media screen and (max-width: $small-width) {
        padding: $large-padding $small-padding; 
    } 

    .product_info {
        
        max-width: 400px;

        @media screen and (max-width: $extra-large-width) { 
            max-width: 100%; 
        }
        @media screen and (max-width: $small-width) {
            padding: $large-padding $small-padding; 
            margin-top: 40px;
        } 

        .main_parameters {
            display: block;
            margin-bottom: 25px;
            line-height: 1.4;
            font-size: 15px;
        }

        .buy {
            display: flex;
            justify-content: space-between;

            @include card-box-shadow-hover;
            padding: 15px;
            border-radius: 20px;
            margin-top: 25px;

            .price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .discount {
                    opacity: 0.6;
                    font-size: 15px;

                    .discount_size {
                        color: red;
                    }
                    .old_price {
                        opacity: 0.6;
                        margin-left: 5px;
                        font-size: 14px;
                        text-decoration: line-through;
                    }
                }

                .current_price {
                    font-size: 21px;
                    margin-bottom: 2px;
                }
            }

            .buttons {
                display: flex;
                align-items: center;

                button {
                    margin-right: 10px;
                }
            }
        }

        .order {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include card-box-shadow;
            padding: $large-padding;
            border-radius: 25px;
            margin-top: 35px;
            
            @media screen and (max-width: $small-width) {
                padding: $large-padding $small-padding; 
            } 

            .order_info {
                display: flex;
                flex-direction: column;
                position: relative; 

                font-size: 15px;
                color: rgba(0, 0, 0, 0.342)(0, 0, 0); 

                .in_stock {
                    margin-bottom: 5px;
                }

                .in_stock, .delivery_time {
                    font-weight: 600;
                    color: rgb(61, 61, 61);
                }

                .delivery_time__value, .in_stock__value {
                    margin-left: 5px;
                    font-weight: normal;
                    color:rgb(0, 0, 0)
                }
            }

            svg { 
                fill: rgba(0, 0, 0, 0.199);
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}
