@import "./../../mixins.scss";
@import "./../../variables.scss";

.file_input {
    label {
        font-size: 14px;
        color: #000000e1;
    }
    input {
        margin-top: 10px;
    }
    input[type="file"]::-webkit-file-upload-button {
        display: none;
        height: 50px;
    }
    input[type="file"] {
        @include gradientBorder(1px);
        @include card-box-shadow;
        background-color: #fff;
        border-radius: 25px;
        transition: all 0.3s;
        width: 100%;
        cursor: pointer;
        &:before {
            display: inline-flex;
            align-items: center;
            content: " ";
            background-image: url("./../../../../assets/svgIcons/addImage.svg");
            background-size: 50px 50px;
            height: 50px;
            width: 50px;
            opacity: 0.6;
            &:hover {
                transform: rotate(180deg);
            }
        }
        &:hover {
            @include card-box-shadow-hover;
        }
    }
}
