@import "./../_common/variables.scss";
@import "./../_common/mixins.scss";

.reviews {
    @include defaultContentBlockParams;
    margin-top: 25px;

    @media screen and (max-width: $small-width) {
        padding: $large-padding $small-padding;
    } 

    .title {
        margin-bottom: 25px;
    }

    .review_item {
        @include card-box-shadow;
        border-radius: 15px;
        background: linear-gradient(to right, #72517f0e 0, #3e779f07 100%);
        padding: 25px;
        line-height: 1.75;
        margin-top: 25px;

        @media screen and (max-width: $small-width) {
            padding: $large-padding 10px;
        } 

        .info {
            display: flex;
            align-items: center;
            span {
                margin-left: 10px;
            }
        }

        .used_term {
            margin: 15px 0;
            span {
                font-weight: normal;
            }
        }

        .dignity, .flaws, .comment {
            display: flex;
            flex-direction: column
        }

        .section_title {
            margin-bottom: 0px;
        }
        .section_description {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
}
