@import "./../_Common/variables.scss";
@import "./../_Common/mixins.scss";

.product_card {
    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    padding: $large-padding;
    margin-bottom: 15px;

    transition: all 0.3s ease-in-out;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        transition: all 0.3s ease-in;
        @include card-box-shadow-hover;
    }

    @include card-box-shadow;

    .block_left {
        display: flex;

        .product_image {
            max-width: 150px;
            max-height: 128px;
            margin-right: 25px;
        }

        .title {
            cursor: pointer;
        }

        .additional {
            display: flex;
            flex-direction: column;

            .in_stock {
                margin-left: 5px;
                font-size: 15px;
            }
        }

        .product_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .block_right {
        display: flex;
        flex-direction: column;
        align-items: end;

        .price { 
            text-align: end;
            margin-bottom: 15px;
            .discount { 
                color: red;
                opacity: .6;
                font-size: 15px;
            }
            .old_price {
                opacity: .6;
                margin-left: 10px;
                font-size: 14px;
                text-decoration: line-through;
            }
            .current_price {
                margin-top: 2px;
                font-size: 20px; 
            }
        }
        .buttons {
            display: flex;
            align-items: center;

            button {
                margin-left: 10px;
            }
        }
    }

    @media screen and (max-width: $small-width) {
        flex-direction: column;
        align-items: center;
        .block_left {
            flex-direction: column;
            align-items: center;

            .product_info {
                .additional {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0 25px 0;

                    .in_stock {
                        margin-left: 0;
                    }
                }
            }

            .product_image {
                margin-bottom: 25px;
            }
        }

        .block_right {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .price {
                margin-bottom: 0;
            }
        }
    }
}
