@import "./../../variables.scss"; 

.submit_btn { 
    font-family: "Montserrat";
    width: 100%;
    height: 46px;
    border-radius: 25px;
    background: linear-gradient(to right, #cb115f 0, #3e7692 100%) no-repeat;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600; 
    cursor: pointer; 
    @include button-box-shadow;
    transition: all 0.5s; 
    &:hover { 
        transition: all 0.5s;
        color: rgb(245, 245, 245); 
        filter: brightness(0.95);
        font-size: 16px;
        @include button-box-shadow-hover;
    }
}