@import './../_common/variables.scss';
@import './../_common/mixins.scss';

.product_gallery {
    display: flex; 
    
    @media screen and (max-width: $small-width) {
        display: none;
    } 

    .images_list {
        display: flex;
        flex-direction: column; 

        .small_image {
            width: 70px;
            height: 70px;
            cursor: pointer; 
            margin-bottom: 10px; 
            transition: all 0.3s;
            border: 7px solid white;
            &:hover { 
                transform: scale(1.2) translateX(7%);
                transition: all 0.3s;
            }
        } 
    }

    .main_image { 
        margin: 0 25px 0 50px; 

        @media screen and (max-width: $small-width) {
            margin: 0 0 0 25px;
        } 

        .large_image {
            width: 100%;
            cursor: zoom-in;
        }
    }
}