@import "./../../Components/_Common/variables.scss";
@import "./../../Components/_Common/mixins.scss";

.profile {
    @include defaultContentBlockParams;
    display: flex;
    justify-content: space-between;
    .block_left {
        flex-grow: 1;
    }
}