@import "./../_Common/mixins.scss";
@import "./../_Common/variables.scss";

.mobile_bottom_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: 9999;

    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 54px;

    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px 15px 0 0;
    padding: 5px;
    width: 100%;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);

    svg {
        width: 29px;
        height: 29px; 
        margin: 5px;
        padding: 3px;
        filter: opacity(0.6); 
    } 
    
    .active {
        background-color: rgba(0, 0, 0, 0.603);
        border-radius: 15px;
        svg {
            filter: invert(1) opacity(1);
        }
    }
}
