@import "./../../mixins.scss";
@import "./../../variables.scss"; 


label {
    font-size: 14px;
    color: #000000e1;
    margin-bottom: 5px; 
}
.radio_input {
    display: flex;
    flex-direction: column;
    @include defaultRadioInputWithLabel; 
}
