@import "./../../Components/_Common/variables.scss";

.header {
    z-index: 1000;
    background: linear-gradient(to right, #cb115f 0, #3e7692 100%) no-repeat;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    .container {
        padding: 0 16px;
        max-width: $container;
        min-height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .block_left {
            display: inline-flex;
            align-items: center;
            .logo {
                margin-right: 18px;
                height: 75px;
                width: 250px;
                svg {
                    height: 100%;
                    width: 100%;
                } 
                
                @media screen and (max-width: $medium-width) {
                    margin: 0 5px 0 60px;
                }
                @media screen and (max-width: $small-width) {
                    height: calc(75px / 1.2);
                    width: calc(250px / 1.2); 
                }
            }
        }

        .block_right {
            .nav {
                white-space: nowrap;
                display: flex;
                align-items: center;

                a {
                    color: white;
                }
                .item, button {
                    margin-left: 15px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: nowrap;
                    svg {
                        margin-bottom: 5px;
                        filter: invert(1);
                        width: 25px;
                        height: 25px;
                    } 
                }
                button {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $small-width) {
                display: none;
            }
        }

        @media screen and (max-width: $small-width) {
            min-height: 80px;
        }
    }
}
