$container: 1350px;
$catalog-width: $container / 100 * 22;
$content-width: $container / 100 * 72.5;

@mixin block-box-shadow {
    -webkit-box-shadow: 0px 3px 17px -10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 17px -10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 17px -10px rgba(34, 60, 80, 0.2);
}
