@import "./../../variables.scss";
@import "./../../mixins.scss";

.review_form {
    @include defaultContentBlockParams; 
    margin-top: 25px;
    @include card-box-shadow-hover;
    @media screen and (max-width: $small-width) {
        padding: $large-padding $small-padding;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .title__icon {
            svg {
                max-width: 20px;
                max-height: 20px;
            } 
            margin-right: 15px;
            transform: rotate(90deg);
        }
    }

    .form_fields {
        display: flex;
        flex-direction: column; 

        .used_term {
            display: flex;
            align-items: center;
            max-width: 500px;
            font-size: 14px;
            margin-bottom: 25px;
            @media screen and (max-width: $small-width) {
                max-width: 100%;
            }

            span {
                white-space: nowrap;
                margin-right: 10px;
            }
        }

        .rating {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 10px 0;
            span {
                margin-right: 10px;
            }
        }

        .text_input_item {
            margin-bottom: 15px;
        }

        input[type="submit"] {
            margin-top: 10px;
            align-self: end;
            max-width: 400px;
            @media screen and (max-width: $small-width) {
                max-width: 100%;
            }
        }
    }

    //Modificators
    .opened {
        display: flex;
        transition: all 0.5s ease-in;
    }

    .closed {
        display: none; 
        transition: all 0.5s ease-in-out;
    }
}
