@import "./../../Components/_Common/variables.scss";

.discounts {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    .discount_item { 
        max-width: 300px;
        display: flex;
        margin: 10px 10px 0 0; 
        flex-direction: column;
        padding: 15px; 
        border-radius: 20px;
        @include card-box-shadow;
    }
}